@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --background-color: #F7F8FA;
  --primary-accent: #3A86FF;
  --text-main: #222222;
  --text-secondary: #6B7280;
  --success-color: #10B981;
  --error-color: #EF4444;
  --neutral-color: #E5E7EB;
  --font-family-main: "Roboto sans-serif";
}

body, .sb-sidenav-menu-heading, .nav-link, .sb-nav-link-icon {
  font-family: var(--font-family-main);
}
